<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body style="padding: 300px;">
<h1 th:text="'로그인'"/>
<form method="post" action="/login_proc">
    <div>
        <label for="uname">이메일 </label>
        <input type="text" id="uname" name="uname">
    </div>

    <div>
        <label for="upass">비밀번호 </label>
        <input type="password" id="upass" name="upass">
    </div>

    <button type="submit" style="float:right;">로그인</button>
</form>
</body>
</html>