<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body style="padding: 300px;">
<h1 th:text="'로그인'"/>
<form method="post" action="/login_form">
    <div>
        <label for="uname">사용자 이름 </label>
        <input type="text" id="uname" name="uname">
    </div>

    <div>
        <label for="upass">비밀번호 </label>
        <input type="password" id="upass" name="upass"> <!-- 입력 형식을 password로 변경 -->
    </div>

    <button type="submit" style="float:right;">로그인</button>
</form>
<script th:if="${loginError}">
    <!-- 로그인 실패 시에 alert 메시지를 표시하는 JavaScript 코드 -->
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            var errorMessage = /*[[${loginError}]]*/ ''; // 변수 치환 방식 수정
            if (errorMessage) {
                alert(errorMessage);
                console.log('ddd');
            }
        });
    </script>
</script>

</body>
</html>
