<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<h1 th:text="'할 일 목록 작성'"/>

<form id="todoForm" method="post" action="todolist_form">
  날짜<input type="date" name="todo_date" id="todo_date"><br>
  할 일 작성<input type="text" name="todo_list" id="todo_list"><br>
  중요도
  <input type="checkbox" name="star" id="star1" value="1"><label for="star1" class="star-icon"></label>
  <input type="checkbox" name="star" id="star2" value="2"><label for="star2" class="star-icon"></label>
  <input type="checkbox" name="star" id="star3" value="3"><label for="star3" class="star-icon"></label>
  <input type="checkbox" name="star" id="star4" value="4"><label for="star4" class="star-icon"></label>
  <input type="checkbox" name="star" id="star5" value="5"><label for="star5" class="star-icon"></label>
  <!-- 체크된 박스의 갯수를 보내는 hidden input -->
  <input type="hidden" name="checkedCount" id="checkedCount" value="0">
  <button type="submit">작성 완료</button><br>
  <a th:href="@{/todolist_form}">할 일 목록</a>
</form>

<script>
  function countCheckedBoxes() {
    const checkboxes = document.querySelectorAll('input[name="star"]');
    let count = 0;
    checkboxes.forEach(checkbox => {
      if (checkbox.checked) {
        count++;
      }
    });
    return count;
  }

  // 폼 전송 시 hidden input의 값을 업데이트
  document.querySelector('form').addEventListener('submit', function(event) {
    event.preventDefault(); // 폼 전송 막기
    const checkedCount = countCheckedBoxes();
    document.getElementById('checkedCount').value = parseInt(checkedCount, 10); // 숫자로 변환하여 저장

    // 폼 전송
    document.getElementById('todoForm').submit();
  });
</script>
</body>
</html>
