<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>

<h1 th:text="'할 일 목록'"></h1>

<table width="500px">
  <tr th:each="p: ${joinlist}">
    <td>
      <span th:text="${p.uname} + '님 '"></span>
      <span class="originalDate" th:text="${p.todo_date}"></span>
      <span>일에 중요한 일이 있습니다.</span>
    </td>
  </tr>
</table>
<br>
<table width="500px">
  <tr><td>날짜</td><td>할일</td><td>중요도</td><td>기타</td></tr>
  <tr th:each="p:${list}">
    <td>
      <span th:text="${p.todo_date}"/>
    </td>
    <td th:text="${p.todo_list}"/>
    <td th:text="${p.star}"/>
    <td>
      <a th:href="@{'/update/'+${p.todo_id}}">수정</a>
      <a th:href="@{'/delete/'+${p.todo_id}}">삭제</a>
    </td>
  </tr>
</table>

<h1 th:text="'통계'"></h1>
<table width="500px">
  <tr><td>날짜</td><td>할 일 개수</td></tr>
  <tr th:each="p:${cubelist}">
    <td>
      <span th:text="${p.todo_date}"/>
    </td>
    <td th:text="${p.total_tasks != null ? p.total_tasks : 0}"/>
  </tr>
</table>

<label for="select_todolist">조회:</label>
<select id="select_todolist" onchange="onSelectChanged()">
  <option value="latest" th:selected="${orderBy == 'latest'}">최신순</option>
  <option value="oldest" th:selected="${orderBy == 'oldest'}">오래된순</option>
  <option value="priority" th:selected="${orderBy == 'priority'}">중요도순</option>
</select>

<a href="/todolist">할일작성</a>
<a th:href="@{/logout}">로그아웃</a>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const dateElements = document.querySelectorAll(".originalDate");
    dateElements.forEach(element => {
      const originalDate = element.innerText;
      const date = new Date(originalDate);
      date.setDate(date.getDate() + 1);
      const formattedDate = formatDate(date);
      element.innerText = formattedDate;
    });
  });

  function formatDate(date) {
    const year = date.getFullYear();
    const month = String(date.getMonth() + 1).padStart(2, '0');
    const day = String(date.getDate()).padStart(2, '0');
    return `${year}-${month}-${day}`;
  }

  function onSelectChanged() {
    var dropdown = document.getElementById("select_todolist");
    var selectedValue = dropdown.value;

    if (selectedValue === "latest") {
      window.location.href = "/getTodoList?orderBy=latest";
    } else if (selectedValue === "oldest") {
      window.location.href = "/getTodoList?orderBy=oldest";
    } else if (selectedValue === "priority") {
      window.location.href = "/getTodoList?orderBy=priority";
    }
  }
</script>

</body>
</html>
